# Dependências
node_modules/

# Código compilado
dist/

# Testes
coverage/

# Variáveis e arquivos secretos
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# TypeScript
*.tsbuildinfo